body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(./img/1286235.jpg);
  }
  .drop-area {
    width: 300px;
    height: 200px;
    border: 2px dashed #ccc;
    text-align: center;
    line-height: 200px;
    font-size: 1.5em;
    transition: border-color 0.3s ease-in-out;
    border-radius: 25px;
    color: #f2f1f1;
    background: rgba(255, 255, 255, 0.2);
  }
  
  .drop-area.dragging {
    border-color: #007bff;
  }
  
  .drop-area.valid {
    border-color: #28a745;
  }
  
  .drop-area.error {
    border-color: #dc3545;
  }
  